<!doctype html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" th:href="@{/asset/bootstrap/css/bootstrap.min.css}">
  <title>Page not found &middot; WParts</title>
</head>
<body>
<h1>404 &ndash; Not Found</h1>
<p>The page for &quot;[[${path}]]&quot; is not found.</p>
<hr/>
<p>Copyright &copy; WParts 2018</p>
<script th:src="@{/asset/jquery/jquery.min.js}"></script>
<script th:src="@{/asset/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
